.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100px 1fr;
}

header{
    
    grid-column: 2/3;
    grid-row: 1/1;
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    align-items: center;
  
}
.menu{
    display: flex;
    justify-content: space-between;

}

.boton_menu{
    
    justify-self: end;

}

main{
grid-column: 1/3;
grid-row: 2/3;
display: grid;
grid-template-columns: 1fr 1.5fr;

}

.main_imagen{
    size: container;
}
.main_texto{
    grid-column: 2/3;
  text-align: right ;
}

